@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form_button {
  font-family: 'Inter';
  font-size: 16px;
  background-color: #fd8181;
  color: #FFFFFF;
  width: 360px;
  height: 44px;
  border: none;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
.form_button:hover {
  opacity: 0.9;
}

.form_button_disable {
  font-family: 'Inter';
  font-size: 16px;
  opacity: 0.5;
  background-color: #fd8181;
  color: #FFFFFF;
  width: 360px;
  height: 44px;
  border: none;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
